<div class="main">
  <header>
    <div fxFlex>
      <div fxFlex="150px">TOP CONTROLS</div>
      <div fxFlex>CONTROLS GO HERE</div>
      <div fxFlex>{{service.totalSeconds}}</div>
    </div>
  </header>
  <section>
    <div id="chart-main-container">
      <div id="chart-main" fxFlex>
        <div fxFlex="150px">
          <div id="chart-labels" fxFlex fxLayout="column">
            <ng-container *ngFor="let site of service.dataBySite | keyvalue">
              <div fxFlex="60px" class="chart-label">{{site.key}}</div>
              <div fxFlex="60px" class="chart-subtrack-label" *ngFor="let t of site.value | keyvalue">{{t.key}}</div>
            </ng-container>
          </div>
        </div>

        <div fxFlex id="chart-schedule-container">
          <div fxFlex="100%" id="chart-schedule">
            <div fxFlex fxLayout="column">
              <ng-container *ngFor="let site of service.dataBySite | keyvalue">
                <div fxFlex="60px" class="chart-label">&nbsp;</div>
                <div fxFlex="60px" fxLayout="row nowrap" *ngFor="let t of site.value | keyvalue">
                  <ng-container *ngFor="let v of t.value">
                    <div fxFlex fxLayout="column">
                      <div fxFlex>{{v.mission}}</div>
                      <div fxFlex>
                        <div fxFlex><small>{{v.start | date: 'MM/dd/yyyy HH:mm:ss'}}</small></div>
                        <div fxFlex><small>{{v.stop | date: 'MM/dd/yyyy HH:mm:ss'}}</small></div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>